body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

.container {
  width: 80%;
  margin: auto;
  padding: 20px;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-top: 50px;
}

h1, h3 {
  text-align: center;
}

form {
  margin-bottom: 20px;
}

input, textarea {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
}

button {
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

#ergebnisse, #kandidatenListe, #bewerberListe {
  margin-top: 20px;
}

.bewerberCard {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.bewerberCard img {
  width: 100px;
  height: 100px;
  margin-right: 20px;
  object-fit: cover;
}

.bewerberCard p {
  margin: 0;
}
